
<ion-header>
  <ion-toolbar color="primary">
  <ion-title> 
	Gift King (Share the Greeting with Gift)
  </ion-title> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>

  <ion-buttons slot="end">
         <ion-button (click)="clear()">
                <ion-icon name="clear"></ion-icon>
      Clear
          </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

  <ion-segment  [(ngModel)]="whichsegment">
    <ion-segment-button value="receive">
      <ion-label > WhatsApp </ion-label>
    </ion-segment-button>
  </ion-segment>




<ion-content>
<div *ngIf="whichsegment == 'receive'">


    <ion-card class="datainput">
      <ion-card-header>
      <ion-card-title>
     Edit the greeting (optional)
      </ion-card-title>
      </ion-card-header>
      <ion-card-content >
            <ion-item>
            <ion-textarea rows="8" text-wrap type="text" [(ngModel)]="sharingmessage"
                          ></ion-textarea>
            </ion-item>
   


      </ion-card-content>
    </ion-card>
      <ion-item >
<ion-button href="https://wa.me/?text={{sharingmessage}} " color="primary"  target="_blank" clear>
    WhatsApp
     </ion-button>


      </ion-item >

    <ion-card class="datainput">
      <ion-card-content>

  <ion-label> 

   {{sharingmessage}}

  </ion-label>

      </ion-card-content>
    </ion-card>

</div>

</ion-content>
