<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>

  <ion-buttons slot="end">
         <ion-button (click)="clear()">
              Clear
          </ion-button>
    </ion-buttons>

    <ion-title>
 Send greetings
    </ion-title>

  </ion-toolbar>
</ion-header>

  <ion-segment  [(ngModel)]="whichsegment">
    <ion-segment-button value="send">
      <ion-label > Greet & Gift </ion-label>
    </ion-segment-button>
    <ion-segment-button value="greetings">
      <ion-label > Greeted Contracts </ion-label>
    </ion-segment-button>
  </ion-segment>


<ion-content *ngIf="issued">
<div *ngIf="whichsegment == 'send'">

  <ion-card >
      <ion-card-content >
       <ion-item>
         <ion-label position="stacked"> Greeting to make </ion-label>
         <ion-input  [(ngModel)]="greetingtomake" placeholder="Happy 24th birthday ...... from Sonu "></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="stacked"> Amount to gift (in satoshis) </ion-label>
         <ion-input  [(ngModel)]="toamount" placeholder="230000 "></ion-input>
       </ion-item>
       <ion-item>
      <ion-button fill="clear" size="small" color="primary" (click)="prepareautomatic()"> Prepare+  </ion-button>
      <ion-button *ngIf="modeautomatic" fill="clear" size="small" color="primary" (click)="modemanual()"> Manual mode  </ion-button>
      <ion-button *ngIf="!modeautomatic" fill="clear" size="small" color="primary" (click)="switchmodeautomatic()"> Cancel manual mode  </ion-button>
       </ion-item>
    </ion-card-content >
  </ion-card >

  <ion-card *ngIf="!modeautomatic">
      <ion-card-header>
     Greeting and Gift payment
      <ion-button fill="clear" size="small" color="primary" (click)="generatetestnet()"> Prepare </ion-button>
      <ion-button fill="clear" size="small" color="primary" (click)="sendpayment()"> Fund </ion-button>
      </ion-card-header>
      <ion-card-content >


      <ion-item text-wrap>
         <ion-label position="stacked"> Place for greeting address  </ion-label>
         <ion-input  [(ngModel)]="issued.address" placeholder="Created greeting address" ></ion-input>
      </ion-item >
       <ion-item *ngIf="issued.greeting">
  <ion-label text-wrap>      Greeting created: {{issued.greeting}}
  </ion-label>
       </ion-item>
       <ion-item>
    Check 
      <ion-button fill="clear" size="small" color="primary" (click)="getaddressbalance()"> Greeting balance</ion-button>
       </ion-item>
      <ion-item *ngIf="addressbalance">
  <ion-label>
     <h4> Greeting Balance: {{addressbalance.balanceSat}} </h4>
<p> Unconfirmed : {{addressbalance.unconfirmedBalanceSat }} </p>
  </ion-label>
      </ion-item >
      <ion-item >
  <ion-label text-wrap>
     Transaction id: {{txid}}
  </ion-label>
      </ion-item >
      </ion-card-content >
    </ion-card >


  <ion-card *ngIf="modeautomatic">
      <ion-card-header>
     Greeting and Gift payment
      </ion-card-header>
      <ion-card-content >


      <ion-item text-wrap>
         <ion-label position="stacked"> Place for greeting address  </ion-label>
         <ion-input  [(ngModel)]="issued.address" placeholder="Created greeting address" ></ion-input>
      </ion-item >
       <ion-item *ngIf="issued.greeting">
  <ion-label text-wrap>      Greeting created: {{issued.greeting}}
  </ion-label>
       </ion-item>
       <ion-item>
    Check 
      <ion-button fill="clear" size="small" color="primary" (click)="getaddressbalance()"> Greeting balance</ion-button>
       </ion-item>
      <ion-item *ngIf="addressbalance">
  <ion-label>
     <h4> Greeting Balance: {{addressbalance.balanceSat}} </h4>
<p> Unconfirmed : {{addressbalance.unconfirmedBalanceSat }} </p>
  </ion-label>
      </ion-item >
      <ion-item >
  <ion-label text-wrap>
     Transaction id: {{txid}}
  </ion-label>
      </ion-item >
      </ion-card-content >
    </ion-card >



    <ion-card class="datainput">
      <ion-card-header>
      <ion-card-title>
     Sendable Greeting 
 <!-- ion-chip (click)="printcheck()" >
  <ion-label>Print</ion-label>
   </ion-chip>
 <ion-chip (click)="sharecheck()" >
  <ion-label>Share</ion-label>
   </ion-chip -->

      </ion-card-title>
      </ion-card-header>
      <ion-card-content >
            <ion-item>
         <ion-label position="stacked"> Greeting contract </ion-label>
            <ion-textarea rows="4" text-wrap type="text" [(ngModel)]="issued.message"
                 placeholder=" Place for Greeting contract " readonly></ion-textarea>
            </ion-item>

            <ion-item>
         <ion-label position="stacked"> Greeting short link </ion-label>
         <ion-input  text-wrap [(ngModel)]="issued.shorturl" placeholder="Place for short link " readonly ></ion-input>
           </ion-item>

            <ion-item>
         <ion-label position="stacked"> PIN </ion-label>
         <ion-input  [(ngModel)]="issued.pin" placeholder="Place for PIN " readonly></ion-input>
           </ion-item>

      <ion-item *ngIf="issued.fullredeemurl">
         <ion-label position="stacked"> FullRedeem sharable link </ion-label>
         <ion-input  [(ngModel)]="issued.fullredeemurl" placeholder="Place to display revertible address"></ion-input>
      </ion-item >

      </ion-card-content>
    </ion-card>

 <ion-card >
     <ion-card-header >
    Wallet 
      <ion-button fill="clear" size="small" color="primary" (click)="getwalletbalance()"> Balance Check</ion-button>
      </ion-card-header >

      <ion-item *ngIf="walletbalance" >
  <ion-label>
     <h4> Wallet Balance: {{walletbalance.balanceSat}} </h4>
<p> Unconfirmed : {{walletbalance.unconfirmedBalanceSat }} </p>
  </ion-label>
      </ion-item >

    </ion-card>



</div>
<div *ngIf="whichsegment == 'greetings'">

  <ion-item *ngIf="sendinggreetings.length == 0" >
  No greetings
    </ion-item  >
         
 <ion-list> 

    <ion-item *ngFor="let msg of sendinggreetings" >
          <ion-label  text-wrap>
            <h3> Greeting:          {{msg.greeting}} </h3>
            <h3> Greeting contract:          {{msg.message}} </h3>
            <h3> Greeting shorturl:          {{msg.shorturl}} </h3>
            <h4> Greeting Address:          {{msg.address}}
  </h4>
            <p>
          PIN: {{msg.pin }}
            </p>
       </ion-label>
    </ion-item>

 </ion-list> 

</div>
</ion-content>
