<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>


  <ion-segment  [(ngModel)]="whichsegment">
    <ion-segment-button value="send">
      <ion-label > Greet & Gift </ion-label>
    </ion-segment-button>
    <ion-segment-button value="messages">
      <ion-label > Greeting Messages </ion-label>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="issued">
<div *ngIf="whichsegment == 'send'">

  <ion-card >
      <ion-card-content >
       <ion-item>
         <ion-label position="stacked"> Greeting to make </ion-label>
         <ion-input  [(ngModel)]="toaddress" placeholder="Greeting "></ion-input>
       </ion-item>
    </ion-card-content >
  </ion-card >
  <ion-card >
      <ion-card-header>
     Greeting and Gift payment
      <ion-button fill="clear" size="small" color="primary" (click)="generatetestnet()"> Prepare Greeting </ion-button>
      </ion-card-header>
      <ion-card-content >

       <ion-item>
         <ion-label position="stacked"> Amount to gift with greeting </ion-label>
         <ion-input  [(ngModel)]="toamount" placeholder="Amount to gift "></ion-input>
       </ion-item>

      <ion-item text-wrap>
         <ion-label position="stacked"> Created greeting address </ion-label>
         <ion-input  [(ngModel)]="issued.address" placeholder="Created greeting address" ></ion-input>
      </ion-item >
       <ion-item>
      <ion-button fill="clear" size="small" color="primary" (click)="sendpayment()"> Fund greeting </ion-button>
       </ion-item>
      </ion-card-content >
    </ion-card >

    <ion-card >
      <ion-item >
     Transaction id: {{txid}}
      </ion-item >
     <ion-item >
      <ion-button fill="clear" size="small" color="primary" (click)="getwalletbalance()"> Wallet balance</ion-button>
      <ion-button fill="clear" size="small" color="primary" (click)="getaddressbalance()"> Address balance</ion-button>
      </ion-item >

      <ion-item *ngIf="addressbalance">
  <ion-label>
     <h4> Address Balance: {{addressbalance.balanceSat}} </h4>
<p> Unconfirmed : {{addressbalance.unconfirmedBalance }} </p>
  </ion-label>
      </ion-item >
      <ion-item *ngIf="walletbalance" >
  <ion-label>
     <h4> Wallet Balance: {{walletbalance.balanceSat}} </h4>
<p> Unconfirmed : {{walletbalance.unconfirmedBalance }} </p>
  </ion-label>
      </ion-item >

    </ion-card>



    <ion-card class="datainput">
      <ion-card-header>
      <ion-card-title>
     Message/PIN to access gifted fund
      </ion-card-title>
      </ion-card-header>
      <ion-card-content >
            <ion-item>
         <ion-label position="stacked"> Message </ion-label>
            <ion-textarea rows="4" text-wrap type="text" [(ngModel)]="issued.message"
                 placeholder=" Message "></ion-textarea>
            </ion-item>


            <ion-item>
         <ion-label position="stacked"> PIN </ion-label>
         <ion-input  [(ngModel)]="issued.pin" placeholder="PIN "></ion-input>
           </ion-item>

      <ion-item *ngIf="issued.fullredeemurl">
         <ion-label position="stacked"> FullRedeem sharable link </ion-label>
         <ion-input  [(ngModel)]="issued.fullredeemurl" placeholder="Place to display revertible address"></ion-input>
      </ion-item >

      </ion-card-content>
    </ion-card>
      <ion-item >
      </ion-item >


</div>
<div *ngIf="whichsegment == 'messages'">

  <ion-item *ngIf="sendingmessages.length == 0" >
  No messages
    </ion-item  >
         
 <ion-list> 

    <ion-item *ngFor="let msg of sendingmessages" >
          <ion-label  text-wrap>
            <h3> Greeting:          {{msg.message}} </h3>
            <h3> Message:          {{msg.message}}
  </h3>
            <h4> Greeting Address:          {{msg.address}}
  </h4>
            <p>
          PIN: {{msg.pin }}
            </p>
       </ion-label>
    </ion-item>

 </ion-list> 

</div>
</ion-content>
