<ion-header>
  <ion-toolbar color="primary">
  <ion-title> 
	Gift King (Print the Greeting with Gift)
  </ion-title> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>

  <ion-buttons slot="end">
         <ion-button (click)="clear()">
                <ion-icon name="clear"></ion-icon>
      Clear
          </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

  <ion-segment  [(ngModel)]="whichsegment">
    <ion-segment-button value="receive">
      <ion-label > Print/Download </ion-label>
    </ion-segment-button>
  </ion-segment>




<ion-content align-center >


    <ion-card>
   <ion-label> <h3> {{printingmessage}}
   </h3>
   </ion-label>

   <img src="{{qrstring}}">
   {{qrstring}}
    </ion-card >


    <ion-card class="datainput">
      <ion-card-content>

            <ion-item>
	QR code

<!--div class="qrcode" *ngIf="printingdata" id="contentToConvert">

    <qrcode [qrdata]="printingdata.shorturl" [size]="256" [level]="'M'"></qrcode>

</div -->
            </ion-item>

      </ion-card-content>
 <ion-button fill="clear" size="small" color="primary" (click)="gettestnetbalance()"> Print </ion-button>
    </ion-card>

</ion-content>
